{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monika Vitek - Ceramics</title>
    <meta name="description" content="">
    <meta name="author" content="Jacob Janak">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static "ceramics/js/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap CDN's -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Base stylesheet -->
    <link rel="stylesheet" href="{% static "ceramics/css/base.css" %}" />
    <link rel="stylesheet" href="{% static "ceramics/css/link-effects.css" %}" />
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static "ceramics/fonts/unicode.optima.ttf" %}" type="text/css">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <a href="{% url 'index' %}" id="text-logo">
        <span class="big-letter">M</span>onika
        <span class="big-letter">V</span>itek Ceramics
      </a>

      <div id="nav">
        <nav class="fall-down-effect">
          <div id="left-line" class="line"><!-- Empty --></div>
          <a class="nav-link {% if active_link == 'work' %}active{% endif %}" href="{% url 'work' %}" data-hover="Work">Work</a>
          <a class="nav-link {% if active_link == 'store' %}active{% endif %}" href="{% url 'store' %}" data-hover="Store">Store</a>
          <a class="nav-link {% if active_link == 'about' %}active{% endif %}" href="{% url 'about' %}" data-hover="About">About</a>
          <a class="nav-link {% if active_link == 'events' %}active{% endif %}" href="{% url 'events' %}" data-hover="Events">Events</a>
          <div id="right-line" class="line"><!-- Empty --></div>
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    {% if not no_footer %}
    <footer>
      <div class="font" id="right-footer-text">monikavitekceramics@gmail.com</div>
      <div class="font" id="left-footer-text">© Copyright - 2017</div>
      <a id="instagram" href="https://www.instagram.com/monikavitekceramics/" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </footer>
    {% endif %}

  </body>
</html>
