#about-text, #about-picture {
  display: inline-block;
  vertical-align: top;
}
#about-text {
  margin-right: 25px;
  float: left;
  text-align: center;
  font-size: 18px;
  font-family: font96003 !important;
  font-family: arial, sans-serif;
  color: #000;
}
#about-picture {
  margin-left: 25px;
  max-width: 600px;
}
#about-text, #about-picture {
  width: 45%; /* for browsers not supporting calc */
  width: calc(50% - 25px);
}
@media only screen and (max-width: 899px) {
  #about-text, #about-picture {
    display: block;
    width: 100%;
    padding: 0;
  }
  #about-picture {
    margin: 0 auto 25px;
  }
}
