@media only screen and (max-width: 599px) {
  /* 1 picture per row */
  #work-container {
    width: 100%;
    padding: 25px 0 60px !important;
  }
  .work-wrapper {
    width: 100%;
    padding-top: 100%; /* maintains aspect ratio */
    padding: 0 !important;
  }
  .work-item {
    width: 100%;
    padding-top: 75%; /* maintains aspect ratio */
  }
}

@media only screen and (min-width: 600px) {
  /* 1 picture per row */
  #work-container {
    width: 575px;
  }
  .work-item {
    height: 393px;
    width: 525px;
  }
  .work-text {
    line-height: 393px;
  }
  footer {
    width: 525px;
  }
}

@media only screen and (min-width: 900px) {
  /* 2 pictures per row */
  #work-container {
    width: 850px;
  }
  .work-item {
    height: 281px;
    width: 375px;
  }
  .work-text {
    line-height: 281px;
  }
  header, footer {
    width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  /* 3 pictures per row */
  #work-container {
    width: 1149px;
  }
  .work-item {
    height: 249px;
    width: 333px;
  }
  .work-text {
    line-height: 249px;
  }
  header, footer {
    width: 1099px;
  }
}

header {
  margin: auto;
}
#nav {
  margin: 0;
}
.line {
  width: 50% !important;
}
#work-container {
  margin: auto;
  padding: 0 0 35px;
  font-size: 0; /* this makes everything touch because of whitespace */
}
.work-wrapper {
  display: inline-block;
  padding: 25px;
}
.work-item {
  position: relative;
}
.work-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work-text {
  display: hidden;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 0;
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: 'Optima';
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #686868 !important;
  background-color: rgb(255, 255, 255); /* for prehistoric browsers */
  background-color: rgba(255, 255, 255, 0.9); /* was black AND 0.8 */
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: bottom;
  -webkit-transition: all 0.2s ease-in-out 0s; /* was 0.3s */
  transition: all 0.2s ease-in-out 0s;  /* was 0.3s */
}
.work-item:hover .work-text {
  visibility: visible;
  display: inline-block;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.add-to-cart {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  vertical-align: top;
}
.add-to-cart > input {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -60px;
}
footer {
  left: 0;
  right: 0;
  margin: auto;
}
