{% extends 'base.html' %}

{% load static %}
{% block content %}

  <link rel="stylesheet" href="{% static "ceramics/css/about.css" %}" />

  <div id="page-container">
    <img id="about-picture" src="{% static "ceramics/images/about.jpg" %}" alt="Pottery" />
    <div id="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas justo eu pharetra vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Integer porttitor eget elit sit amet faucibus. Vivamus rutrum eu nisl ac hendrerit. Maecenas consequat mi at enim ullamcorper scelerisque. Vivamus volutpat risus quis leo gravida tempus. Aenean laoreet elit quis feugiat sollicitudin. Aenean ut orci quam. Nam fringilla convallis ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec orci felis, egestas vehicula odio egestas, venenatis fringilla massa. Sed pulvinar at ligula consequat egestas.
      <br /><br />
      Proin mattis odio odio, sed sodales urna cursus et. Ut id imperdiet elit, a tempor purus. Vestibulum faucibus erat at quam facilisis iaculis. Vestibulum a justo in eros consequat ultricies vitae at orci. Donec in libero id magna feugiat sagittis. Morbi dolor sapien, dapibus vel venenatis sit amet, laoreet efficitur odio. Integer pellentesque, dolor eu dictum ultricies, mi massa scelerisque sapien, id vestibulum ligula lectus ac dui. Morbi at dui purus. Proin orci felis, porta non pulvinar at, scelerisque nec nunc.
      <br /><br />
      Coursework:
      <br />
      2009-2016: Portland Community College
      <br />
      2016: Oregon College
      <br /><br />
      Shows/Exhibitions:
      <br />
      2016: First show
      <br />
      2016: Second show
    </div>
  </div>

{% endblock %}
