{% extends 'base.html' %}

{% load static %}
{% block content %}

  <link rel="stylesheet" href="{% static "ceramics/css/index.css" %}" />

  <div id="fade">
    <!-- Empty, this just creates a nice color fading effect -->
  </div>

  <img id="background" src="{% static "ceramics/images/background.jpg" %}" alt="Background photo" />

  <!-- Scripts -->
  <!-- For css gradient used with #fade -->
  <!-- [if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <script src="{% static "ceramics/js/script.js" %}"></script>

{% endblock %}
