{% extends 'base.html' %}

{% load static %}
{% block content %}

  <link rel="stylesheet" href="{% static "ceramics/css/store.css" %}" />

  <div id="work-container">

    {% for item in items %}
      <a class="work-wrapper" href="/store/item/{{ item.id }}">
        <div class="work-item">
          <img src="/{{ item.image }}" alt="" />

          <div class="work-text font">
            <p href="{% url 'product' %}">
              
            </p>
          </div>
        </div>
      </a>
    {% endfor %}

  </div>

{% endblock %}
