{% extends 'base.html' %}

{% load static %}
{% block content %}

  <link rel="stylesheet" href="{% static "ceramics/css/store.css" %}" />

  <div id="work-container">

    {% for item in items %}
      <div class="work-wrapper">
        <div class="work-item">
          <img src="/{{ item.image }}" alt="" />

          <div class="work-text font">
            <form class="add-to-cart" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="business" value="jakeathotmail@gmail.com">
              <input type="hidden" name="cmd" value="_xclick">

              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="{{ item.name }}">
              <input type="hidden" name="amount" value="{{ item.price }}">
              <input type="hidden" name="currency_code" value="USD">

              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png" alt="Buy Now">
              <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
            </form>
            {{ item.name }}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}
